# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Database files
*.sqlite
*.db

# Secrets and configuration
config/*.json
config/*.js
config/db.js

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# Coverage reports
coverage/

# Other sensitive files
secrets/